*, *::before,*::after {
    box-sizing: border-box;
}*/

.clearfix:after,
.clearfix:before {
 content: " ";
 display: block;
}
.clearfix:after {
 clear: both;
}
body {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;
}
body{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
}
h2,
b{
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
}

ul,
li{
    outline: red solid 1px;

    display: inline-block;
    list-style: none;
    margin: auto 0;
    padding: 0;
    min-width: 10px;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}
.clear{
    clear:both;
}

.clearfix::after{
    content: "" ;
    display: table;
    clear: both;
}
.clear{
    clear:both;
}
/***********************************************************/
/*                       Х Е Д Е Р                        */
/*********************************************************/

.header{
    min-height: 56px;
}
.container {
    min-height: 70px;
    outline: red solid 1px;

    width: 1200px;
    margin: 0 auto;
}
.main-navigation{
    outline: green solid 1px;
    min-height: 56px;
    min-width: 1056px;

    margin:0 auto;
}
.main-navigation ul{
    display: block;
    text-align: center;
    
}
.main-navigation li{
    padding: 20px 75px;
    vertical-align: top;
}
.main-navigation li:nth-child(3){
    padding: 0 60px;
}

/*------------Г Л А В Н А Я------------------*/
.intro{
    outline: black solid 1px;
    
    height: 360px;
    margin: 0 auto;
    padding: 70px 0;
    background: rgb(138, 136, 136);
    text-align: center;
    box-sizing: content-box;
}
.intro-text:nth-child(2){
    margin: 50px 0;
}
.desc{
    outline: black solid 1px;
    min-height: 120px;
    
    width: 500px;
    margin: 0 auto;
    padding: 60px 10px;
    text-align: center;
}
.desc-head{
    font-size: 21px;
    line-height: 21px;
    margin-top: 0;
}
.desc-first,
.desc-second{
    outline: red solid 1px;
    min-height: 258px;
}
.desc-info{
    outline: green solid 1px;
    min-height: 256px;

    float: left;
    width: 400px;
    padding-top: 40px;
    text-align: center;
}
.desc-image{
    outline: green solid 1px;
    min-height: 256px;

    float: left;
    width: 800px;
}
.feature-item{
    outline: green solid 1px;
    min-height: 300px;

    float: left;
    width: 400px;
    padding-top: 150px;
    text-align: center;
}
.desc-item{
    outline: green solid 1px;
    min-height: 250px;

    float: left;
    width: 400px;
    padding-top: 40px;
    text-align: center;
}
.search-hotel{
    outline: black solid 1px;
    
    width: 575px;
    margin: 0 auto;
    padding: 50px 10px;
    text-align: center;
}
/*--------------------------------------------/

/*-------------Г О С Т И Н И Ц Ы (HOTELS)----------*/

form{
    outline: black solid 1px;
    min-height: 165px;

    padding: 20px 70px;
}
.filter input{
    outline: red solid 1px;

    display:block;
    float: left;
    margin-bottom: 10px;
}

.structure{
    outline: green solid 1px;
     
    height: 180px;
    
    width: 240px;
    float: left;
    margin: 0 10px;
}
.home{
    outline: green solid 1px;

    height: 180px;
    
    width: 280px;
    float: left;
    margin: 0 10px;
}
.value{
    outline: green solid 1px;

    float: right;
    width: 330px;
}

.wrapper{
    outline: red solid 1px;
}
.results{
    outline: green solid 1px;
    min-height: 80px;

    width: 1056px;
    margin: 0 auto;
}
.results b{
    outline: black solid 1px;

    float: left;
    margin-right: 30px; 
}
.sort{
    outline: green solid 1px;


}
.sort span,
.sort ul,
.sort li{
    outline: black solid 1px; 

    float: left;
    margin-right: 30px;
}

.result-items{
    outline: green solid 1px;
    min-height: 100px;

    width: 1056px;
    margin: 0 auto;
}
.item-img{
    outline: black solid 1px;

    width: 135px;
    float: left;
    margin-right: 30px;
}
.item-desc{
    outline: black solid 1px;

    width: 260px;
    float: left;
    margin-right: 30px;
}
.rating-stars{
    outline: black solid 1px;
    min-height: 90px;

    width: 135px;
    float: right;
}
.rating-stars ul{
    display: block;
    margin-left: 50px;
    margin-top: 10px;

}
.rating-stars li{
    padding: 5px;
}
.rating-stars span{
    display: block;
    margin-left: 50px;
    margin-top: 40px;
}
/***********************************************************/
/*                            Ф У Т Е Р                   */
/*********************************************************/
.footer{
    outline: black solid 1px;

    margin: 0 auto;
    box-sizing: border-box;
}
.footer-box{
    outline: black solid 1px;
    width: 1056px;
    margin :0 auto;
}
.hashtag{
    outline: green solid 1px;

    width: 240px;
    float: left;
    margin-right: 88px;
}
.social{
    outline: green solid 1px;

    width: 400px;
    float: left;
    margin: 0 auto;
    text-align: center;
}
.about{
    outline: green solid 1px;

    width: 240px;
    float: right;
}
/**********************************************************/
/*********************************************************/

/***********************************************************/
/*                          П О П А П                     */
/*********************************************************/
.popup{
    outline: red solid 1px;
    
    width: 570px;
    height: 400px;
    padding:55px;
    margin: 0 auto;
    box-sizing: border-box;
}
.popup-form{
    outline: black solid 1px;
    min-height: 290px;

    width: 455px;
}