*, *::before,*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    font-family: "PT Sans", "Arial", sans-serif;
    text-transform: uppercase;
}
h2{
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
}
h3{
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-weight: bold;
}
b{
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    font-weight: bold;
}
p{
    margin-top: 25px;
}
li{
    outline: red solid 1px;

    display: inline-block;
    list-style: none;
    margin: auto 0;
}
/***********************************************************/
/*                       Х Е Д Е Р                        */
/*********************************************************/
.container {
    outline: red solid 1px;

    width: 1200px;
    margin: 0 auto;
}
.main-navigation{
    outline: green solid 1px;

    width: 1056px;
    margin:0 auto;
}
ul{
    display: flex;
    justify-content: space-between;
}
.main-navigation li{
    width: 20%;
    text-align: center;
}
.main-navigation li:first-child{
    text-align: left;
}
.main-navigation li:last-child{
    text-align: right;
}
/*------------Г Л А В Н А Я------------------*/
.intro{
    outline: black solid 1px;
    
    padding: 60px 0;
    margin: 0 auto;
    background:#d9eaf2 url(../img/Background.jpg) no-repeat;
    text-align: center;
}
.intro-text:nth-child(2){
    margin: 50px 0;
}
.desc{
    outline: black solid 1px;

    width: 500px;
    padding: 60px 0;
    margin: 0 auto;
    text-align: center;
}
.desc-block {
    display: flex;
}
.desc-info{
    width: 400px;
    padding: 40px 49px 0;
    text-align: center;
    color: white;
    background: #81b3d2;
}
.desc-info .subhead{
    color: white;
}
.subhead{
    margin-bottom: 25px;
}
.desc-image{
    height: 256px;
    width: 800px;
}
.rotate{
    flex-direction: row-reverse;
}
.features{
    display: flex;
}
.feature-item{
    position: relative;

    height: 330px;
    width: 400px;
    padding: 160px 70px 0;
    text-align: center;
}
.feature-item::before {
    position: absolute;
    content: "";
    display: block;
    top: 60px;
    left: 40%;
    width: 75px;
    height: 80px;
    background: url("../img/icons.png") no-repeat;
}
.feature-item:nth-child(2)::before {
    background-position: -99px 0;
}
.feature-item:last-child::before {
    background-position: -190px 0;
}
.desc-items{
    display: flex;
    height: 255px;
}
.desc-item{
    width: 400px;
    padding: 40px 70px 0;
    text-align: center;
    background: #eeeeee;
}
.search-hotel{
    outline: black solid 1px;
    
    width: 575px;
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}
.btn-hotels{
    width: 575px;
    height: 85px;
    margin-top: 50px;

    background: #766357;
    color: white;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "PT Sans";
}

/*--------------------------------------------/

/*-------------Г О С Т И Н И Ц Ы (HOTELS)----------*/
.filter{
    background: #6a869f url(../img/background1.jpg) no-repeat;
}
.form{
    outline: black solid 1px;

    padding: 30px 70px;
    display: flex;
}

.fieldset-item{
    outline: rgb(255, 255, 255) solid 1px;

    margin-top: 20px;
}
.structure{
    outline: rgb(255, 255, 255) solid 1px;
     
    width: 240px;
    height: 160px;
    margin: 0 10px;
}
.home{
    outline: rgb(255, 255, 255) solid 1px;

    width: 280px;
    margin: 0 10px;
}
.value{
    outline: rgb(255, 255, 255) solid 1px;

    width: 330px;
    text-align: center;
    margin-left: auto;
}
.cost{
    outline: rgb(255, 255, 255) solid 1px;

    width: 325px;
    display: flex;
}
.cost-value{
    outline: rgb(255, 255, 255) solid 1px;

    width: 50%;
}
.range{
    width: 325px;
    margin-bottom: 20px;
}
.wrapper{
    outline: red solid 1px;
}
.results{
    outline: green solid 1px;
    min-height: 85px;

    width: 1056px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.results b{
    outline: black solid 1px;
    margin-right: 45px;
}
.sort{
    outline: green solid 1px;

    font-size: 0;
    width: 340px;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.sort span,
.sort-item{
    outline: black solid 1px; 

    display: inline-block;
    font-size: 12px;
    vertical-align: top;
    margin-right: 30px;
}
.sort-item:last-child{
    margin-right: 0;
}
.sort ul{
    display: inline-block;
}
.control{
    outline: green solid 1px;

    position: relative;

    width:36px;
    height: 15px;
}
.result-items{
    outline: green solid 1px;

    height: 150px;
    width: 1056px;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
}
.item-img{
    margin-right: 30px;
}
.item-desc{
    outline: black solid 1px;

    width: 260px;
    height: 90px;
    margin-right: 30px;
}
.rating-stars{
    outline: black solid 1px;

    width: 112px;
    height: 90px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: space-between;
}
.rating-stars ul{
    display: block;
    font-size: 0;
}
.rating-stars li{
    padding: 9px;
    margin-left: 5px;
    display: inline-block;
}

/***********************************************************/
/*                            Ф У Т Е Р                   */
/*********************************************************/
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}
.hashtag{
    outline: green solid 1px;

    margin-left: 130px;
}
.social{
    outline: green solid 1px;
}
.about{
    outline: green solid 1px;

    margin-right: 100px;
}
/**********************************************************/
/*********************************************************/

/***********************************************************/
/*                          П О П А П                     */
/*********************************************************/
.popup{
    outline: red solid 1px;

    width: 570px;
    height: 400px;
    padding: 55px;
    margin: 0 auto;
}
.popup-form{
    outline: black solid 1px;

    height: 290px;
    width: 460px;
    display: flex;
    flex-wrap: wrap;

}
.race{
    outline: red solid 1px;
    width: 460px;
}
.sum{
    outline: red solid 1px;
    width: 230px;
}
.sum input{
    width: 40px;
}
.search-btn{
    width: 455px;
}