*, *::before,*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-weight: bold;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;
}

h1{
    font-size: 30px;
    line-height: 42px;
    color: #000000;
    font-weight: bold;
}
h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}
li{
    outline: red solid 1px;

    display: inline-block;
    list-style: none;
    margin: auto 0;
    min-width: 40px;
    font-size: 14px;
}
/***********************************************************/
/*                       Х Е Д Е Р                        */
/*********************************************************/

.main-header-layout{
    display: flex;
    justify-content: space-between;
}
.container {
    outline: red solid 1px;

    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}
.main-header{
    outline: red solid 1px;

    margin-bottom: 60px;
}
.main-navigation{
    outline: green solid 1px;
    background: rgb(161, 159, 159);

    width: 780px;
}
.main-navigation ul{
    font-size: 0;
}
.main-navigation li{
    padding: 20px;
    font-size: 16px;
}
.user-block{
    outline: green solid 1px;

    width: 140px;
}
/********************************************************/
/*******************************************************/

/*------------Г Л А В Н А Я------------------*/
.index-logo{
    outline: black solid 1px;
    
    width: 371px;
    margin: 0 auto;
    margin-bottom:75px;
    background: rgb(126, 125, 125);
}
.features{
    margin-bottom: 88px;
    display: flex;
    justify-content: space-between;
}
.features-item{
    outline: green solid 1px;

    width: 300px;
    height: 165px;
    text-align: center;
}
.features-name{
    font-size: 30px;
    line-height: 42px;
}
.features-item:last-child{
    margin-right: 0px;
}
.index-content{
    outline: black solid 1px;
    padding: 50px 80px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

}
.index-content-left{
    outline: green solid 1px;

    height: 330px;
    width: 380px;
}
.index-content-right{
    outline: green solid 1px;
    width: 300px;
}
.appointment-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form-item{
    outline: red solid 1px;

    width: 140px;
    margin-bottom: 10px;
}
.form-item:nth-child(3){
    margin-right: 20px;
}
input{
    max-width: 140px;
}
/*--------------------------------------------/

/*-----К А Р Т О Ч К А  Т О В А Р А (ITEM)----------*/
.main-navigation{
    display: flex;
}
.logo{
    outline: green solid 1px;
    width:120px;
    padding: 20px 10px;
}
.inner{
    outline: green solid 1px;
   
    margin-bottom: 55px;
}
.breadcrumbs ul{
    font-size: 0;
}
.breadcrumbs li{
    margin-right: 40px;
}
.breadcrumbs li:last-child{
    margin-right: 0;
}
.item-block{
    outline: green solid 1px;

    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
}
.big-pic{
    outline: black solid 1px;
}
.small{
    width: 460px;
    margin-top: 20px;

    display: flex;
    justify-content: space-between;
}
.small-pic{
    outline: red solid 1px;
}
.item-article{
    outline: black solid 1px;
    
    width: 390px;
}
.item-info{
    outline: green solid 1px;

    min-height: 50px;
    margin-top: 20px;
}
.description{
    outline: green solid 1px;

    margin-bottom: 40px;
}
.item-price{
    outline: green solid 1px;
    min-height: 48px;

    width: 188px;
}
.item-composition{
    outline: green solid 1px;
    margin-top: 65px;
}
.item-composition li{
    outline: red solid 1px;

    display: block;
    margin: auto 0;
    min-width: 40px;
}
/*---------------------------------------------------/

/*------------П Р А Й С - Л И С Т (PRICE)----------*/
.mens-classic{
    outline: red solid 1px;

    width: 620px;
    margin: 60px auto;
    text-align: center;
}
.mens-classic h1{
    font-size: 48px;
}
.info-items{
    outline: red solid 1px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item-best-means{
    outline: green solid 1px;

    width: 240px;
    margin-right: 60px;
}
.item-best-means li{
    outline: red solid 1px;

    display: block;
    margin: auto 0;
}
.price-table{
    outline: green solid 1px;

    width: 460px;
}
.table-caption {
    margin-right: 285px;
}
table{
    border: black solid 1px;
    width: 100%;
    margin-top: 40px;
}
td{
    outline: black solid 1px;

    padding: 10px;
}

.about-us{
    outline: black solid 1px;
    
    width: 100%;
    margin-top: 65px;
    margin-bottom: 15px;
}
.about-us-title{
    outline: black solid 1px;

    margin-bottom: 30px;
}
.desc-text{
    outline: red solid 1px;

    display: flex;
}
.desc-left{
    outline: green solid 1px;

    width: 380px;
}
.desc-right{
    outline: green solid 1px;
    
    width: 380px;
    margin-left: 100px;;
}
/*---------------------------------------------------/

/*--------------М А Г А З И Н (SHOP)----------------*/
.flex-container{
    display: flex;
    justify-content: space-between;
}
.sidebar{
    outline: green solid 1px;

    width: 220px;
}
fieldset{
    width: 170px;
    margin-bottom: 50px;
}
.produsers-item{
    outline: red solid 1px;
}

.content{
    outline: green solid 1px;

    width: 700px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cards-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product-card{
    outline: red solid 1px;

    width: 220px;
    margin-bottom: 20px;
}
.product-card h2{
    font-size: 14px;
}

.control{
    outline: red solid 1px;

    margin-top: 45px;
}
.control ul{
    font-size: 0;
}
.control li{
    text-align: center;
}
/*---------------------------------------------------/

/***********************************************************/
/*                            Ф У Т Е Р                   */
/*********************************************************/
.main-footer{
    outline: black solid 1px;
    
    padding-top: 60px;
    padding-bottom: 40px;
    margin-top: 65px;
}
.main-footer-layout{
    display: flex;
}
.footer-contacts{
    outline: green solid 1px;

    width: 310px;
    margin-right: 90px;
}
.footer-social{
    outline: green solid 1px;

    text-align: center;
}
.footer-copyright{
    outline: green solid 1px;

    width: 140px;
    text-align: center;
    margin-left: auto;
}
/**********************************************************/
/*********************************************************/

/***********************************************************/
/*                          П О П А П Ы                   */
/*********************************************************/
.popup{
    outline: red solid 1px;

    width: 460px;
    height: 385px;
    padding:60px;
    padding-top: 45px;
    margin: 0 auto;
}
.popup-form{
    outline: black solid 1px;
    min-height: 280px;

}
.popup-form h2{
    padding: 10px 10px;
    margin-top: 0;
}
.map{
    outline: red solid 1px;

    width: 767px;
    height: 562px;
    margin: 0 auto;
}

/**********************************************************/
/*********************************************************/